<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="">
  <title>My First HTML Page</title>
    
    body {
      font-family: Arial, sans-serif;
      margin: 20px;
    }
    h1 {
      color: #008080;
    }
  </style>
</head>
<body>

  <header>
    <h1>Welcome to our family's Website</h1>
    <p>Let go for a tour !</p>
  </header>

  <nav>
    <ul>
      <li><a href="#Home">Home</a></li>
      <li><a href="#About">About</a></li>
      <li><a href="#user/:userName">#user/:userName</a></li>
    </ul>
  </nav>

  <main>
    <button id="downloadButton">Download Image</button>
    <script>
      document.getElementById('downloadButton').addEventListener('click', function() {
        // Make a request to download the image
        window.location.href = '/download';
      });
    </script>

    <section id="section1">
      <h2>Home</h2>
      <p>Welcome to our family home page!</p>
    </section>

    <section id="section2">
      <h2>About</h2>
      <p>This is the content  about us.</p>
    </section>

    <section id="section3">
      <h2>user/:userName</h2>
      <p>This page will bring your individual page.</p>
    </section>
  </main>
  <div>
    <p>Check out our new font generator and level up your social bios. Need more? Head over to Glyphy for all the fancy fonts and cool symbols you could ever imagine.

      And don’t forget, we have images, plugins and the ultimate guide to all flavors of lorem ipsum.</p>
  </div>

 

</body>
</html>
